---
import "../styles/global.css";
import favicon from "../assets/favicon.png";

const { language, title, summary } = Astro.props;
---

<!doctype html>
<html lang={language}>
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" href={favicon.src} />
		<meta name="generator" content={Astro.generator} />
		<title>{title} - Liphium</title>

		<!-- Discord embed and stuff -->
		<meta property="og:type" content="website" />
		<meta property="og:site_name" content="liphium.com" />
		<meta property="og:title" content={title} />
		<meta property="og:description" content={summary} />
		<meta content="#00cdf9" data-react-helmet="true" name="theme-color" />
	</head>
	<body class="bg-bg-800">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		min-height: 100%;
	}
</style>
